#HTT_game{
    margin: 2em 5em 5em 5em;
}

.padded{
    margin: 0em 0em 1em 0em;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.column {
    float: left;
    width: 33.33%;
  }

.stats {
    font-weight: bold;
    color: red;
}

.hint {
    color: blue;
}

.bad_input {
    border: 2px solid red;
}

